@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

*{
    /* فاصله خارجی */
    margin: 0;
    /* فاصله داخلی */
    padding: 0;
    font-family: Vazirmatn;
}

span{
    border: 1px solid blue;
    padding: 5px 10px 15px 20px;
}

a{
    text-decoration: none;
    /* border: 1px solid; */
    border-radius: 50%;
    padding: 10px;
    color: black;
    background-color: blueviolet;
}