*{
    margin: 0;
    padding: 0;
}

p{
    display: inline-block;
}

span{
    display: block;
}

.p1{
    background-color: coral;
    width: 30%;
}

.p2{
    background-color: deeppink;
    width: 69.7%;
}

.s1{
    background-color: cornflowerblue;
}

.s2{
    background-color: crimson;
}