*{
    margin: 0;
    padding: 0;
    direction: rtl;
}

.header{
    text-align: center;
    background-color: #ce0032;
    height: 40px;
}

.item{
    color: white;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}

.i1{
    color: white;
    font-weight: bold;
    font-size: 20px;
}