*{
    margin: 0;
    padding: 0;
    direction: rtl;
    text-decoration: none;
    list-style: none;
}

nav{
    border-bottom: 1px solid black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 70%;
    gap: 20px;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

a{
    color: #555;
    font-size: 20px;
}